<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css2?family=Play:wght@400;500;700&display=swap" rel="stylesheet">

<body>
<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-section">
                <h5>Соц мережі</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="social-link"><i class="fab fa-facebook me-2"></i>Facebook</a></li>
                    <li><a href="#" class="social-link"><i class="fab fa-instagram me-2"></i>Instagram</a></li>
                    <li><a href="#" class="social-link"><i class="fab fa-telegram me-2"></i>Telegram</a></li>
                </ul>
            </div>

            <div class="col-md-3 footer-section">
                <h5>Контакти</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt me-2"></i>вул. Яворівська, 17, Івано-Франкове, Львівська
                        область, 81070
                    </li>
                    <li><i class="fas fa-phone me-2"></i>+380 68 348 6053</li>
                    <li><i class="fas fa-clock me-2"></i>Пн-Пт: 8:30 - 18:00</li>
                    <li><i class="fas fa-envelope me-2"></i>info@mfurnitura.com</li>
                </ul>
            </div>

            <div class="col-md-6">
                <div class="google-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3937.0472958730957!2d23.727256980824507!3d49.92119635318304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0Lwg0YTRg9GA0L3RltGC0YPRgNCwINGW0LLQsNC90L4g0YTRgNCw0L3QutC-0LLQtQ!5e1!3m2!1suk!2sua!4v1742658584601!5m2!1suk!2sua"
                            width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>